@use "../../../styles/vars" as *;

.contact-wrapper {
  margin: 0 auto;

  @media (min-width: $mqxl) {
    max-width: 1050px;
  }

  .contact-flex {
    @media (min-width: $mqxl) {
      display: grid;
      gap: 2rem;
      grid-template-columns: 350px minmax(400px, 600px);
      justify-content: space-between;
    }
  }

  h1 {
    text-align: center;
  }

  .contact-form {
    width: 350px;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;

    div.field {
      margin: 0;
      padding: 0;
    }
    
    input,
    button {
      font-family: inherit;
      font-size: inherit;
      letter-spacing: inherit;
      line-height: inherit;
    }
    
    input {
      min-width: 100%;
      margin-bottom: 1.5rem;
      padding: .5rem 1rem;
      border: none;
      border-radius: 10px;

      &:focus {
        outline: 4px solid $buttonsBgColorHover;
      }

      &::placeholder {
        opacity: .35;
      }
      &:focus::placeholder {
        opacity: .65;
      }
    }
  
  
    .contact-button {
      width: 60%;
      margin: 1.5rem 20%;
      background: $headerBgColor;
      color: $linkTextColor;
      border: 0;
      border-radius: 50px;
      padding: .75em 2em;
      line-height: 1;
      box-shadow: 0.25rem 0.25rem 1rem rgb(0 0 0 / 0.15);
      transform: scale(1);
      transition: background-color 85ms, color 85ms, transform 85ms;
  
      
      &:focus,
      &:hover {
        transform: scale(1.1);
        background-color: #630081;
        color: $linkTextHover;
      }
    }
  }

  .contact-content {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
  }
}
