$mainBgColor : #0a1628;
$secondMainBgColor : #112440;
$secondBgColor : #8655ff;
$headerBgColor : #510069;
$buttonsBgColor : #510069;
$bgGradient : linear-gradient(346deg, rgba(39,80,141,1) 0%, rgba(19,40,73,1) 100%);
$bgGradientFallback : #112440;
// old color
// $listsbgColorOld : #3b1048;
// $bgGradient : #3b1048;


$headerBgColorHover : #6f0091;
$buttonsBgColorHover :#6f0091;

$mainTextColor : #fff;
$linkTextColor : hsla(0, 0%, 100%, 0.9);
$linkTextHover : hsla(0, 0%, 100%);
$secondTextColor : #BF1922;


// mediaqueries spacing

$mqxl : 885px;
$mql : 730px;
$mqm : 630px;
$mqs : 500px;
$mqxs : 400px;
